---
name: CI

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - master

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests-master:
    name: unit-tests
    runs-on: ubuntu-24.04
    env:
      DOKKU_VERSION: master

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - run: make setup

      - run: sudo sysctl -w vm.max_map_count=262144

      - run: |
          git fetch -q origin master
          changed=$(git --no-pager diff --name-only $GITHUB_SHA..origin/master)
          if [ $changed = "Dockerfile" ]; then
            echo "Please run 'make generate' to update the image version in the README.md"
          else
            make generate
            if ! git diff --quiet README.md; then
              echo "Please run 'make generate'"
              git status --short
              git --no-pager diff README.md
              exit 1
            fi
          fi

      - run: make test

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: tmp/test-results
          path: test-results

  unit-tests-0_19_0:
    name: unit-tests-0.19.0
    runs-on: ubuntu-24.04
    env:
      DOKKU_TAG: v0.19.0

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - run: make setup

      - run: sudo sysctl -w vm.max_map_count=262144

      - run: |
          git fetch -q origin master
          changed=$(git --no-pager diff --name-only $GITHUB_SHA..origin/master)
          if [ $changed = "Dockerfile" ]; then
            echo "Please run 'make generate' to update the image version in the README.md"
          else
            make generate
            if ! git diff --quiet README.md; then
              echo "Please run 'make generate'"
              git status --short
              git --no-pager diff README.md
              exit 1
            fi
          fi

      - run: make test

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: tmp/test-results
          path: test-results
